/* framework start */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d-block {
  display: block;
}

.p-relative {
  position: relative;
}

.border-none {
  border: none;
}

.text-center {
  text-align: center;
}

.d-grid {
  display: grid;
}

.gap-20 {
  gap: 20px;
}

.list-style-none {
  list-style: none;
}

.w-full {
  width: 100%;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.p-10 {
  padding: 10px;
}

.m-10 {
  margin: 10px;
}

.p-15 {
  padding: 15px;
}

.m-15 {
  margin: 15px;
}

.p-20 {
  padding: 20px;
}

.m-20 {
  margin: 20px;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.ml-0 {
  margin-left: 0;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-0 {
  padding-left: 0;
}

.mr-0 {
  margin-right: 0;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-0 {
  padding-right: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-0 {
  padding-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-0 {
  padding-bottom: 0;
}

.fs-2 {
  font-size: 2px;
}

.fs-4 {
  font-size: 4px;
}

.fs-6 {
  font-size: 6px;
}

.fs-8 {
  font-size: 8px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.c-black {
  color: #000;
}

.c-grey {
  color: #888;
}

.c-blue {
  color: #0075ff;
}

.c-green {
  color: #22c55e;
}

.c-orange {
  color: #f59e0b;
}

.c-red {
  color: #f44336;
}

.bg-eee {
  background-color: #eee;
}

.bg-white {
  background-color: #fff;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-8 {
  border-radius: 8px;
}

.border-grey {
  border: 1px solid #ccc;
}

.overflow-hidden {
  overflow: hidden;
}

.fw-bold {
  font-weight: bold;
}

.space-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* framework end */