@import "scss/_variables.scss";

/* framework start */

.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.bg-white {
  background-color: #fff;
}
.p-relative {
  position: relative;
}
.text-center {
  text-align: center;
}
.list-style-none {
  list-style: none;
}
.w-full {
  width: 100%;
}

// margin and padding classes
.p-10 {
  padding: 10px;
}
.m-10 {
  margin: 10px;
}
.p-15 {
  padding: 15px;
}
.m-15 {
  margin: 15px;
}
.p-20 {
  padding: 20px;
}
.m-20 {
  margin: 20px;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}

@each $direction, $sympol in $directions {
  .m#{$sympol}-20 {
    margin-#{$direction}: 20px;
  }
  .m#{$sympol}-10 {
    margin-#{$direction}: 20px;
  }
  .p#{$sympol}-20 {
    padding-#{$direction}: 20px;
  }
  .p#{$sympol}-10 {
    padding-#{$direction}: 20px;
  }
}

// font size
$i: 2;
@while $i < 24 {
  .fs-#{$i} {
    font-size: #{$i}px;
  }
  $i: $i + 2;
}

// colors

.c-black {
  color: $black;
}
.border-radius-5 {
  border-radius: 5px;
}
.border-radius-8 {
  border-radius: 8px;
}

//components
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* framework end */
