@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
@import "scss/variables.scss";

* {
  box-sizing: border-box;
  outline: none;
}
a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: $blue;
  &:hover {
    background-color: $alt-blue;
  }
}
::-webkit-scrollbar-track {
  background-color: white;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  .page {
    background-color: $bg-main;
    min-height: 200vh;
  }
  .sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
    h3 {
      margin-bottom: 50px;
      &::before {
        content: "";
        width: 40%;
        height: 2px;
        position: absolute;
        left: 50%;
        bottom: -15px;
        transform: translateX(-50%);
        background-color: $black;
      }
      &::after {
        content: "";
        width: 13px;
        height: 13px;
        border: 4px solid white;
        border-radius: 50%;
        bottom: -25px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: $black;
      }
    }
    ul {
      a {
        transition: 0.3s;
        margin-bottom: 5px;

        &:hover {
          background-color: $active;
        }
        &.active {
          background-color: $active;
        }
        span {
          margin-left: 10px;
        }
      }
    }
  }
  .content {
    .head {
      .search {
        margin-left: 10px;

        input {
          border: 1px solid #ccc;
          padding-left: 30px;
          width: 160px;
          transition: width 0.3s;
          &:focus {
            width: 200px;
            outline: #eee;
            &::placeholder {
              color: transparent;
            }
          }
        }

        &::before {
          font-family: "Font Awesome 6 Free";
          content: "\f002";
          font-weight: 900;
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 14px;
          color: $grey;
        }
      }
      .icons {
        .icon {
          &:before {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $red;
            right: -5px;
            top: -5px;
            position: absolute;
          }
        }
        img {
          width: 32px;
          height: 32px;
          margin-left: 15px;
        }
      }
    }
    h1 {
      margin: 20px 20px 40px;

      &::before,
      &::after {
        content: "";
        height: 3px;
        position: absolute;
        bottom: -10px;
        left: 0;
      }
      &::before {
        width: 120px;
        background-color: white;
      }
      &::after {
        width: 40px;
        background-color: $black;
        transition: width 0.3s;
      }
      &:hover {
        &::after {
          width: 120px;
        }
      }
    }
    .wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      .welcome-card {
        .profile-img {
          position: relative;
          left: 20px;
          top: -30px;
          border: 3px solid white;
          border-radius: 50%;
          width: 60px;
        }
        img {
          width: 200px;
        }
        .body {
          position: relative;
          &::before,
          &::after {
            content: "";
            width: 110%;
            height: 1px;
            left: -20px;
            position: absolute;
            background-color: #888;
            opacity: 0.2;
          }
          &::before {
            top: 0;
          }
          &::after {
            bottom: 0;
          }
          & > div {
            flex: 1;
          }
        }
      }
      .draft-card {
        form {
          flex-direction: column;
          gap: 10px;

          & > textarea {
            min-height: 180px;
            resize: none;
          }
          input[type="submit"] {
            margin-right: 0;
          }
        }
      }
      .targets-card {
        .targets {
          flex-direction: column;
          gap: 15px;

          .target {
            display: flex;
            .icon {
              width: 80px;
              height: 80px;
            }
            &:nth-child(1) {
              .icon {
                background-color: rgb(0 117 255 / 20%);
                margin-right: 15px;
              }
              .bar {
                background-color: rgb(0 117 255 / 20%);
                .progress {
                  width: 80%;
                  height: 100%;
                  background-color: $blue;
                  position: relative;
                  &::before {
                    content: "80%";
                    background-color: $blue;
                  }
                  &::after {
                    content: "";
                    border: 10px solid $blue;
                    border-color: $blue transparent transparent transparent;
                    position: absolute;
                    top: -20px;
                    right: -10px;
                  }
                }
              }
            }
            &:nth-child(2) {
              .icon {
                background-color: rgb(245 158 11 / 20%);
                margin-right: 15px;
              }
              .bar {
                background-color: rgb(245 158 11 / 20%);
                .progress {
                  width: 55%;
                  height: 100%;
                  background-color: $orange;
                  position: relative;
                  &::before {
                    content: "55%";
                    background-color: $orange;
                  }
                  &::after {
                    content: "";
                    border: 10px solid $orange;
                    border-color: $orange transparent transparent transparent;
                    position: absolute;
                    top: -20px;
                    right: -10px;
                  }
                }
              }
            }
            &:nth-child(3) {
              .icon {
                background-color: rgb(34 197 94 / 20%);
                margin-right: 15px;
              }
              .bar {
                background-color: rgb(34 197 94 / 20%);
                .progress {
                  width: 75%;
                  height: 100%;
                  background-color: $green;
                  position: relative;
                  &::before {
                    content: "75%";

                    background-color: $green;
                  }
                  &::after {
                    content: "";
                    border: 10px solid $green;
                    border-color: $green transparent transparent transparent;

                    position: absolute;
                    top: -20px;
                    right: -10px;
                  }
                }
              }
            }
            .body {
              display: flex;
              flex-direction: column;
              justify-content: center;
              flex: 1;

              .bar {
                width: 100%;
                height: 4px;
                margin-top: 5px;
                .progress {
                  &::before {
                    font-size: 12px;
                    color: white;
                    padding: 2px 8px;
                    display: flex;
                    align-items: center;
                    height: 20px;
                    border-radius: 6px;
                    position: absolute;
                    top: -40px;
                    right: -17px;
                  }
                }
              }
            }
          }
        }
      }
      .tickets-card {
        .tickets {
          gap: 20px;
          flex-wrap: wrap;
          .ticket {
            width: calc(50% - 10px);
          }
        }
      }
    }
  }
}

// Compontents
.main-btn {
  padding: 5px 10px;
  background-color: $blue;
  color: white;
  margin-left: auto;
  margin-right: 10px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $alt-blue;
  }
}
@media (max-width: 768px) {
  body {
    .sidebar {
      width: 62px !important;
      padding: 10px;
      h3 {
        font-size: 13px;
        margin-bottom: 15px;
        margin-top: 15px;
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
      }
    }
    .content {
      .wrapper {
        grid-template-columns: minmax(200px, 1fr) !important;
        margin-left: 10px;
        margin-right: 10px;

        .welcome-card {
          .profile-img {
            left: 0;
            top: -30px;
          }
        }
        .tickets-card {
          .tickets {
            .ticket {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .hide-mobile {
    display: none;
  }
  .text-center-mobile {
    text-align: center;
  }
  .d-block-mobile {
    display: block;
  }
  .mb-10-mobile {
    margin-bottom: 10px;
  }
  .m-0-mobile {
    margin: 0;
  }
  .d-none-mobile {
    display: none;
  }
}
